
.tercerdiv {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100%;
  }

  .tercerdiv ul{
    width: 100%;
  }

  .tabs{
    display: none;
  }
  
  .frienditem {
    display: flex;
    width: 95%;
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between;
    margin: 4px 10px 4px 10px;
    padding: 5px;
    border-radius: .1rem;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ie-border-radius: .4rem;
    border-radius: .4rem;
    background:  linear-gradient(to top, #1b4f72  0%, #5dade2 100%);
    float: right;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 3px rgba(255,255,255,.2);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 3px rgba(255,255,255,.2);
    -ie-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 3px rgba(255,255,255,.2);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 3px rgba(255,255,255,.2);
  }
  
  .frienditem:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .frienditemHovered {
    background-color: #3498db; /* Cambia el color de fondo al pasar el ratón */
    color: #fff; /* Cambia el color del texto al pasar el ratón */
  }

  .desafio{
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
    padding: 5px;
    margin-top: 4rem;
    margin-bottom: 10px;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 0px 1px #4e5883 inset, 0px 0px 0px 2px #748ab6 inset, 0px 4px 0px 0px #4a617c, 0px 5px 0px 0px #354256, 0px 8px 0px 0px rgba(0,0,0,.15);
    -moz-box-shadow: 0px 0px 0px 1px #4e5883 inset, 0px 0px 0px 2px #748ab6 inset, 0px 4px 0px 0px #4a617c, 0px 5px 0px 0px #354256, 0px 8px 0px 0px rgba(0,0,0,.15);
    -ie-box-shadow: 0px 0px 0px 1px #4e5883 inset, 0px 0px 0px 2px #748ab6 inset, 0px 4px 0px 0px #4a617c, 0px 5px 0px 0px #354256, 0px 8px 0px 0px rgba(0,0,0,.15);
    box-shadow: 0px 0px 0px 1px #4e5883 inset, 0px 0px 0px 2px #748ab6 inset, 0px 4px 0px 0px #4a617c, 0px 5px 0px 0px #354256, 0px 8px 0px 0px rgba(0,0,0,.15);
  }

  .desafio h5{
    margin-top: 5px;
    text-shadow: rgba(0,0,0,.5) 0px -1px 0px;
    font-size: 18px;
    font-weight: 700;
    color: #dafffe;
  }

  .containerProfile{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageContainer {
    position: relative;
    width: 50px; /* Asegúrate de que ambos elementos ocupen todo el contenedor */
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .photoImage {
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 96%;
    height: 96%;
    object-fit: cover; /* Ajusta la imagen para que se vea bien en el contenedor */
    z-index: 1; /* Foto en la capa inferior */
  }
  
  .marco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el marco para que coincida con la foto */
    z-index: 2; /* Marco en la capa superior */
  }

  .titleWithIcon {
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
  .titleWithIcon h5 {
    margin-right: 20px; /* Ajusta el margen para dar espacio entre el título y el SVG */
  }
  
  
  .userIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px; /* Espaciado entre el icono y el nombre */
  }
  .insignia{
    width: 100%;
    height: 100%;
    margin-right: 10px;
  }
  
  .friendName {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .bandera{
    width: 2rem;  
  }
  .profile{
    margin-top: 5px;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%)1;  
    border-radius: inherit;
  }

  .profileLoading{
    margin-top: 5px;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: grey;
    border: solid 10px #2E86C1;
  }
  
  .userprofileLoading{
    display: flex;
    flex-direction: column;
  }

  .userprofileLoading h3{
    margin-right: 60%;
  }
  .userprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 

  .containerRanking {
    display: flex;
    justify-content: space-between;
    height: 2.2rem;
    align-items: center;
    width: 5rem;
    padding-left: 5px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ie-border-radius: 13px;
    border-radius: 13px;
    background: rgba(0,0,0,.3);
    float: right;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    -ie-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
  }

  .containerFlex{
   display: flex;
  }

  .friendRank{
    display: flex;
     justify-content: flex-end;
     width: 80%;
     padding-right: 5px;
  }

  /* Estilos para el modal */
.modal {
  width: 30rem;
  height: auto;
  display: none;
  position: fixed;
  padding-bottom: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #CFD8DC;  
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  
}
.modal h3{
  color: rgb(23, 29, 29);
}
.header{
  background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
  border-radius: 1rem 1rem 0 0;
  height: 4.5rem;
  padding: .5rem 1rem 1rem 1rem;
}

.username{
  margin-top: -1rem;
}

.header span {
  color: #fff;
  font-size: xx-large;
  font-weight: bold;
  margin-top: -1rem;
}

.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 }

.inf{
  cursor: pointer;
  color: #fff;
}

.close{
  cursor: pointer;
  margin-left: 90%;
  color: #fff;
}

.close:hover{
  color:#3498db;
}


.modal.show {
  display: block;
}

.modalContent {
  text-align: center;
  justify-content: center;
}

.profile{
  margin-top: 5px;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%)1;  
  border-radius: inherit;
}


.imageContainerModal {
  position: relative;
  width: 10rem; /* Asegúrate de que ambos elementos ocupen todo el contenedor */
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photoImage {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 96%;
  height: 96%;
  object-fit: cover; /* Ajusta la imagen para que se vea bien en el contenedor */
  z-index: 1; /* Foto en la capa inferior */
}

.marco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el marco para que coincida con la foto */
  z-index: 2; /* Marco en la capa superior */
}
.modalImg {
  max-width: 20rem;
  border-radius: 8px;
}


.modalButtons {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para los botones */
.button {
  background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
  color: #fff;
  padding: 8px 16px;
  margin: 0 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 95%;
  
}

.button:hover {
  background: linear-gradient(181deg, rgb(2, 0, 97) 15%, rgb(97, 149, 219) 158.5%);
  height: 2rem;
  width: 100%;
}

.gameOverModal {
  background-color: rgba(15, 10, 10, 0.8);
  border: 2px solid #2196F3;
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.gameOverModal h2 {
  color: #90CAF9; 
}
.gameOverModal p {
  margin-top: 10px;
}

.buttons{
  display: flex;
}

.gameOverModal button {
  font-weight: bold;
  width: 8rem;
  background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin: 5px;
}

.gameOverModal button:hover {
  background: linear-gradient(67.6deg, rgb(225, 242, 254) -2.8%, rgb(193, 224, 250) 44.6%, rgb(19, 116, 197) 102.4%);
   width: 8.1rem;
}

/* Agrega esta clase para la superposición de fondo detrás del modal */
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.ldsring {
  display: flex;
  position: relative;
  width: 60px;
  height: 60px;
  margin: auto;
}
.ldsring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 8px;
  border: 8px solid #cbc5c5;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2196F3 transparent transparent transparent;
}
.ldsring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 725px){
  .tercerdiv {
    margin-top: 0;
    height: 100%;
    padding: 0;
    padding-top: 20px;
  }
  .desafio{
    margin-top: 0;
    border-radius: 0;
    width: 100%;
  }
 
  
}

@media (max-width: 450px){
  .modal {
    width: 80%;
  }
  
}

