.notfound {
    text-align: center;
  }

  .container{
    justify-content: center;
    align-items: center;
    height: 150vh;
    width: 100%;
  }
  
  .image{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .home {
    display: flex;
    height: 80%;
    width: 80%; 
    background-color: #4caf50;
  }
  .homestyle{
    margin-top: 2rem;
    margin-left: 4rem;
    align-items: center;
    justify-content: center;
  }
  .table{
    display: flex;
    width: 50rem;
    margin-left: 4rem;
  }
  .chevron{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 100%;
    cursor: pointer;
  }
  .imageHome{
    position: absolute;
    width: 80rem;
    margin-top: -20rem;
  }
  
  .titulo {
    font-size: 40px;
    color: #3949AB;
    margin: auto;
  }
  .fondoDatos{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    background-color: aqua;
  }
  .containerStats{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containerStatsRating{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
  }

  .buttonStats{
    border: none;
    width: 30%;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
  }

  .buttonStats:hover{
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: .35rem;
    padding-bottom: .35rem;
    box-shadow: none;
  }

  .containerNivel{
    display: flex;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.12);
    border: solid 1px #3949AB;
    width: 96%;
    height: 100%;
    border-radius: 1rem 1rem 1rem 1rem;
  }

  .svg{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rating{
    align-self: center;
    justify-content: center;
    margin-right: 2rem;
    width: 5rem;
  }

  .rating span{
    margin: auto;
    font-weight: bold;
  }
  .insignia{
    display: flex;
  }

  .insignia{
    font-weight: bold;
  }

  .containerDatos{
    margin-top: 5px;
   height: 90%;
   border-left: solid 2px #3498db;
   width: 30%;
   display: flex;
   justify-content: space-between;
   font-weight: bold;
  }

  .span{
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .chartContainer {
    display: flex;
    width: 300px;
    margin: 0 auto;
    height: 100%;
    justify-content: end;
  }
  
  
  .home p {
    font-size: 18px;
    color: black;
  }
  
  .content {
    background-color: #f5f5f5;
    padding: 20px;
  }

  .playButton {
    margin-top: 20%;
    background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: none;
  }
  
  
  
  .playButton:hover {
    font-size: 17px;
    box-shadow: none;
  }
  
  .profileChekMate{
    margin-top: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: grey;
    border: solid 10px #4caf50;
  }
  .gameOverModal {
    border-radius: 1rem;
    background-color: #CFD8DC;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .gameOverModal p {
    margin-top: 10px;
  }

  .header{
    border-radius: 1rem 1rem 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 5.5rem;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
  }

  .header h2{
    color: #fff;
  }

  .body{
    padding: .5rem 1rem 3rem 1rem;
  }
  
  .button{
    display: flex;
  }
  
  .gameOverModal button {
    font-weight: bold;
    width: 8rem;
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);   
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin: 5px;
    color: #fff;
  }
  
  .gameOverModal button:hover {
     width: 8.1rem;
     opacity: 99%;
  }
  
  /* Agrega esta clase para la superposición de fondo detrás del modal */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Fondo semitransparente */
    z-index: 1; /* Asegura que la superposición esté sobre el contenido */
  }

  .close{
    cursor: pointer;
    margin-left: 90%;
    color: #fff;
  }
  
  .close:hover{
    opacity: 90%;
  }

  .closeModal{
    cursor: pointer;
    color: #3498db;
    align-items: end;
    justify-content: end;
    margin-left: 90%;
  }

  .closeModal:hover{
    color: #fff;
    height: 30px;
    width: 30px;
  }

  @media (max-width: 1235px){
    .container{
      height: 200vh;
    }
    
    .home {
      display: flex;
      flex-direction: column; /* Para que los elementos se muestren uno debajo del otro */
    }
    .playButton{
      margin-top: 2rem;
    }
    .table{
      display: flex;
      margin-left: 0;
      height: 32rem;
    }
    .image{
      display: flex;
      height: auto;  
      justify-content: center; 
      align-items: center;   
    }
    .chevron{      
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 30rem;
      cursor: pointer;
    }
  }

  @media (max-width: 900px){
    .container{
      width: 70rem;
    }
    .home p{
      font-size: 30px;
    }
    .titulo {
      font-size: 4rem;
    }
  }

  @media (max-width: 550px){
    .container{
      height: 300vh;
    } 
  
    .chartContainer {
      display: flex;
      width: 200px;
      margin: 0 auto;
      height: 100%;
      justify-content: end;
    }
  }
  @media (max-width: 376px){
  
    .chartContainer {
      display: flex;
      width: 100px;
      margin: 0 auto;
      height: 100%;
      justify-content: end;
    }
  }
  @media (max-width: 450px){
   
    .container{
      height: 300vh;
      width: 100%;
    }
    .fondoDatos{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 5%;
    }
    .containerStats{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .containerStatsRating{
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 14rem;
    }
  
    .buttonStats{
      border: none;
      width: 25%;
      margin: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: .3rem;
      padding-bottom: .3rem;
      cursor: pointer;
      color: hsl(0, 0%, 100%);
    }
  
    .buttonStats:hover{
      padding-left: 1.3rem;
      padding-right: 1.3rem;
      padding-top: .35rem;
      padding-bottom: .35rem;
      box-shadow: none;
    }
  
    .containerNivel{
      display: flex;
      margin: 5px;
      background-color: rgba(0, 0, 0, 0.12);
      border: solid 1px #3949AB;
      width: 50rem;
      height: 100%;
      border-radius: 1rem 1rem 1rem 1rem;
    }
  
    .svg{
      width: 150px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .rating{
      align-self: center;
      justify-content: center;
      margin-right: 2rem;
      width: 5rem;
    }
  
    .rating span{
      margin: auto;
      font-weight: bold;
    }
    .insignia{
      display: flex;
    }
  
    .insignia{
      font-weight: bold;
    }
  
    .containerDatos{
      margin-top: 5px;
     height: 90%;
     border-left: solid 2px #3498db;
     width: 30%;
     display: flex;
     justify-content: space-between;
     font-weight: bold;
    }
  
    .span{
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  
    .chartContainer {
      display: flex;
      width: 200px;
      margin: 0 auto;
      height: 100%;
      justify-content: end;
    }
  }
  @media (max-width: 690px){
    .table{
      display: flex;
      width: 40rem;
      margin-left: -15px;
    }
  }

 