.notfound {
    text-align: center;
  }

  .container{
    justify-content: center;
    align-items: center;
    height: 250vh;
    width: 100%;
  }
  
  .image{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }

.wrapper{
    margin-top: 20%;
    width:200px;
    height:70px;
    background: linear-gradient(to left top,rgb(30, 144, 231) 40%, #372f52 80.9%, rgb(7, 33, 76) 150.2%);
    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.wrapper span{
    position: absolute;
    display: block;
}
.wrapper span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #e67e22);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
.wrapper span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #e67e22);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
.wrapper span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #e67e22);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

.wrapper span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #e67e22);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

.wrapper:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.wrapper:hover span{
    animation-play-state: paused;
}

  .home {
    display: flex;
    height: 80%;
    width: 80%; 
  }

  .homestyle{
    margin-top: 2rem;
    margin-left: 4rem;
    align-items: center;
    justify-content: center;
  }
  .table{
    display: flex;
    width: 50rem;
    margin-left: 4rem;
  }
  .chevron{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 100%;
    cursor: pointer;
  }
  .imageHome{
    position: absolute;
    width: 80rem;
    margin-top: -20rem;
  }
  
  .titulo {
    font-size: 40px;
    color: #3949AB;
    margin: auto;
  }
  .fondoDatos{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
  }
  .containerStats{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containerStatsRating{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
  }

  .buttonStats{
    border: none;
    width: 30%;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
  }

  .buttonStats:hover{
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: .35rem;
    padding-bottom: .35rem;
    box-shadow: none;
  }

  .containerNivel{
    display: flex;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.12);
    border: solid 1px #3949AB;
    width: 96%;
    height: 100%;
    border-radius: 1rem 1rem 1rem 1rem;
  }

  .svg{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rating{
    align-self: center;
    justify-content: center;
    margin-right: 2rem;
    width: 5rem;
  }

  .rating span{
    margin: auto;
    font-weight: bold;
  }
  .insignia{
    display: flex;
  }

  .insignia{
    font-weight: bold;
  }

  .containerDatos{
    margin-top: 5px;
   height: 90%;
   border-left: solid 2px #3498db;
   width: 30%;
   display: flex;
   justify-content: space-between;
   font-weight: bold;
  }

  .span{
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .chartContainer {
    display: flex;
    width: 300px;
    margin: 0 auto;
    height: 100%;
    justify-content: end;
  }
  
  
  .home p {
    font-size: 18px;
    color: black;
  }
  
  .content {
    background-color: #f5f5f5;
    padding: 20px;
  }

  .scrollableContainer {
    max-height: 35rem; /* Altura máxima del contenedor */
    overflow-y: auto; /* Activar scroll vertical cuando sea necesario */
  }
  
  .scrollableContent {
    padding-right: 17px; 
  }

  .containerpartida{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 4px; 
    height: 4.5rem;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .gameType{
    display: block;
    margin-left: 5px;
  }

  .datos{
    width: 9rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .datos img{
    width: 1rem;
    height: .8rem;
    margin-left: 5px;
    margin-top: -2px;
  }
  .datos p{
    color: #fff;
  }
  .result{
    height: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
  }
  .valors{
    height: 100%;
    margin-right: 1rem;
  }
  .estado{
    width: 100%;
    margin-top: -10px;
  }
  
  .profileChekMate{
    margin-top: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: grey;
    border: solid 10px #4caf50;
  }
  .gameOverModal {
    border-radius: 1rem;
    background-color: #CFD8DC;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .gameOverModal p {
    margin-top: 10px;
  }

  .header{
    border-radius: 1rem 1rem 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 5.5rem;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
  }

  .header h2{
    color: #fff;
  }

  .body{
    padding: .5rem 1rem 3rem 1rem;
  }
  
  .button{
    display: flex;
  }
  
  .gameOverModal button {
    font-weight: bold;
    width: 8rem;
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);   
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin: 5px;
    color: #fff;
  }
  
  .gameOverModal button:hover {
     width: 8.1rem;
     opacity: 99%;
  }
  
  /* Agrega esta clase para la superposición de fondo detrás del modal */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Fondo semitransparente */
    z-index: 1; /* Asegura que la superposición esté sobre el contenido */
  }

  .close{
    cursor: pointer;
    margin-left: 90%;
    color: #fff;
  }
  
  .close:hover{
    opacity: 90%;
  }

  .closeModal{
    cursor: pointer;
    color: #3498db;
    align-items: end;
    justify-content: end;
    margin-left: 90%;
  }

  .closeModal:hover{
    color: #fff;
    height: 30px;
    width: 30px;
  }

  @media (max-width: 1235px){
    .container{
      height: 200vh;
    }
    
    .home {
      display: flex;
      flex-direction: column; /* Para que los elementos se muestren uno debajo del otro */
    }
    .playButton{
      margin-top: 2rem;
    }
    .table{
      display: flex;
      margin-left: 0;
      height: 32rem;
    }
    .image{
      display: flex;
      height: auto;  
      justify-content: center; 
      align-items: center;   
    }
    .chevron{      
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 30rem;
      cursor: pointer;
    }
  }

  @media (max-width: 750px){
   
    .container{
      height: 300vh;
      width: 100%;
    }
    .titulo {
      font-size: 35px;
    }
    .home{
      width: 100%;
    }
    .home p {
      font-size: 14px;
      color: black;
    }
    .table{
      display: flex;
      justify-content: center;
      margin-left: 0 !important;
      height: 32rem;
      width: 100% !important;
    }
    .chevron{      
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 30rem;
      cursor: pointer;
    }
    .fondoDatos{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 5%;
      width: 100%;
    }
    .containerStats{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .buttonStats{
      font-size: 12px;
    }
    .containerStatsRating{
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 14rem;
      width: 100%;
    }

    .svg{
      width: 60px !important;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .containerDatos {
      display: flex;
      flex-direction: column;
    }
  
    .buttonStats{
      border: none;
      width: 25%;
      margin: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: .3rem;
      padding-bottom: .3rem;
      cursor: pointer;
      color: hsl(0, 0%, 100%);
    }
  
    .buttonStats:hover{
      padding-left: 1.3rem;
      padding-right: 1.3rem;
      padding-top: .35rem;
      padding-bottom: .35rem;
      box-shadow: none;
    }
  
    .containerNivel{
      display: flex;
      margin: 5px;
      background-color: rgba(0, 0, 0, 0.12);
      width: 100%;
      height: 100%;
      border-radius: 1rem 1rem 1rem 1rem;
    }
  
    .svg{
      width: 150px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .rating{
      align-self: center;
      justify-content: center;
      margin-right: 2rem;
      width: 5rem;
    }
  
    .rating span{
      margin: auto;
      font-weight: bold;
    }
    .insignia{
      display: flex;
    }
  
    .insignia{
      font-weight: bold;
    }
  
    .containerDatos{
      margin-top: 5px;
     height: 90%;
     margin-left: -20px;
     border-left: solid 2px #3498db;
     width: 30%;
     display: flex;
     justify-content: space-between;
     font-weight: bold;
    }
  
    .span{
      display: flex;
      flex-direction: column;
      margin: auto;
      font-size: 10px;
      margin-left: 10px;
    }
  
    .chartContainer {
      display: flex;
      width: 140px;
      margin: 0 auto;
      height: 100%;
      justify-content: end;
    }
  }
  @media (max-width: 450px){
   
    .container{
      height: 300vh;
      width: 100%;
    }
    .titulo {
      font-size: 35px;
    }
    .home{
      width: 100%;
    }
    .home p {
      font-size: 14px;
      color: black;
    }
    .table{
      display: flex;
      justify-content: center;
      margin-left: 0 !important;
      height: 32rem;
      width: 100% !important;
    }
    .chevron{      
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 30rem;
      cursor: pointer;
    }
    .fondoDatos{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 5%;
      width: 100%;
    }
    .containerStats{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .buttonStats{
      font-size: 12px;
    }
    .containerStatsRating{
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 14rem;
      width: 100%;
    }

    .svg{
      width: 60px !important;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .containerDatos {
      display: flex;
      flex-direction: column;
    }
  
    .buttonStats{
      border: none;
      width: 25%;
      margin: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: .3rem;
      padding-bottom: .3rem;
      cursor: pointer;
      color: hsl(0, 0%, 100%);
    }
  
    .buttonStats:hover{
      padding-left: 1.3rem;
      padding-right: 1.3rem;
      padding-top: .35rem;
      padding-bottom: .35rem;
      box-shadow: none;
    }
  
    .containerNivel{
      display: flex;
      margin: 5px;
      background-color: rgba(0, 0, 0, 0.12);
      width: 100%;
      height: 100%;
      border-radius: 1rem 1rem 1rem 1rem;
    }
  
    .svg{
      width: 150px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .rating{
      align-self: center;
      justify-content: center;
      margin-right: 2rem;
      width: 5rem;
    }
  
    .rating span{
      margin: auto;
      font-weight: bold;
    }
    .insignia{
      display: flex;
    }
  
    .insignia{
      font-weight: bold;
    }
  
    .containerDatos{
      margin-top: 5px;
     height: 90%;
     margin-left: -20px;
     border-left: solid 2px #3498db;
     width: 30%;
     display: flex;
     justify-content: space-between;
     font-weight: bold;
    }
  
    .span{
      display: flex;
      flex-direction: column;
      margin: auto;
      font-size: 10px;
      margin-left: 10px;
    }
  
    .chartContainer {
      display: flex;
      width: 140px;
      margin: 0 auto;
      height: 100%;
      justify-content: end;
    }
    .gameOverModal {
      width: 80%;
    }
  }


 