.fixed{
  position: relative;
}

.navbar {
  background: linear-gradient(to left top,#2874a6  50%, #2e86c1 50%);
  -webkit-box-shadow: 0px 0px 0px 1px #4e6383 inset, 0px 0px 0px 2px #7495b6 inset, 0px 4px 0px 0px #4a677c, 0px 5px 0px 0px #354156, 0px 8px 0px 0px rgba(0,0,0,.15);
  -moz-box-shadow: 0px 0px 0px 1px #4e6383 inset, 0px 0px 0px 2px #7495b6 inset, 0px 4px 0px 0px #4a677c, 0px 5px 0px 0px #354156, 0px 8px 0px 0px rgba(0,0,0,.15);
  -ie-box-shadow: 0px 0px 0px 1px #4e6383 inset, 0px 0px 0px 2px #7495b6 inset, 0px 4px 0px 0px #4a677c, 0px 5px 0px 0px #354156, 0px 8px 0px 0px rgba(0,0,0,.15);
  box-shadow: 0px 0px 0px 1px #4e6383 inset, 0px 0px 0px 2px #7495b6 inset, 0px 4px 0px 0px #4a677c, 0px 5px 0px 0px #354156, 0px 8px 0px 0px rgba(0,0,0,.15);
 
}

.userprofile {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.imageContainer {
  position: relative;
  width: 100%; /* Asegúrate de que ambos elementos ocupen todo el contenedor */
  height: 100%;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que se vea bien en el contenedor */
  z-index: 1; /* Foto en la capa inferior */
}

.marco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el marco para que coincida con la foto */
  z-index: 2; /* Marco en la capa superior */
}

.logo{
  width: 12rem;
  cursor: pointer;
}

.logo:hover{
  transition: 0.5s;
  transform: scale(1.2);
 }

 .navlink{
  color: #fff !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;

  border-radius: .2rem;
  font-size: 18px !important;
  text-decoration: none;
 }

 .navlink:hover{
  background-color: rgba(0,0,0,.15) !important ;
 }

 .dropdownSpan{
   color: aliceblue !important;
   font-size: 18px !important;
   padding: 5px 10px 5px 10px;
   border-radius: .2rem;
 }

 .dropdownSpan:hover{
  background-color: rgba(0,0,0,.15) !important;
 }

 .dropdownSpan2{
  font-size: 18px !important;
  padding: 5px 10px 5px 10px;
  border-radius: .2rem;
 }

 .dropdownSpan2:hover{
  background-color: rgba(0,0,0,.15) !important;
 }
 .theme{
   margin-left: 10px;
 }

 .color{
   margin-left: 10px;
 }

 .item:hover{
  background-color: rgba(0,0,0,.15) !important;
 }

 @media (max-width: 310px){
  .logo{
    width: 8rem;
  }
}